.box {
  padding: var(--s1);
  border: var(--box-border) solid;
  color: var(--color-dark, #fff);
  background-color: var(--color-light, #000);
}

.box * {
  color: inherit;
}

.box.invert {
  color: var(--color-light);
  background-color: var(--color-dark);
}