/*
--imposter-position: Whether to position the element relative to the viewport
  absolute, fixed

--margin: The margin/space between the element and the inner edges of
  the positioning container
*/

.imposter {
  position: var(--imposter-position, absolute);
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
}

.imposter.contain {
  overflow: auto;
  max-inline-size: calc(100% - (var(--margin, 0px) * 2));
  max-block-size: calc(100% - (var(--margin, 0px) * 2));
}